/* Base styles for larger screens */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #cccf1f;
}

.container {
  background-color: #afdd09;
  border-radius: 8px;
  box-shadow: inset 1px 0px 20px 5px rgba(2, 2, 2, 0.438);
  padding: 20px;
  width: 300px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.item-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.add-button {
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 0 4px 4px 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.item-list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.delete-button {
  background-color: #1f90ec;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: 800;
}

.me {
  margin: -99px 10px 180px -239px;
  color: #dfc21f;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.me:hover {
  color: rgb(0, 0, 0);
}

/* Media query for screens up to 320px (Mobile S) */
@media only screen and (max-width: 320px) {
  .container {
    width: 90%;
  }
}

/* Media query for screens up to 375px (Mobile M) */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .container {
    width: 90%;
  }
}

/* Media query for screens up to 425px (Mobile L) */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .container {
    width: 90%;
  }
}

/* Media query for screens up to 768px (Tablet) */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    width: 80%;
  }
}

/* Media query for screens up to 1024px (Laptop) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

/* Media query for screens up to 1440px (Laptop L) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .container {
    width: 90%;
  }
}
